<div class= "white-container">
  <p class="footerp"> Conception et réalisation par Anna Bdh</p>
  <div class= "iconf">
    <%= link_to '<i class="fab fa-facebook-f"></i>'.html_safe,  'https://www.facebook.com/anna.bendahan.7', class: "iconf" %>
    <%= link_to '<i class="fab fa-instagram"></i>'.html_safe,  'https://www.instagram.com/lebendan/', class: "iconf " %>
    <%= link_to '<i class="fab fa-linkedin-in"></i>'.html_safe,  'https://www.linkedin.com/in/anna-bendahan-55324113a/', class: "iconf" %>
    <%= link_to '<i class="fab fa-github"></i>'.html_safe,  'https://github.com/Annabendahan', class: "iconf" %>
  </div>
</div>
