<div class="main-nav hidden-xs hidden-sm ">
  <div class= "elem1"> <a href="#Home"> Home</a> <br> <p> Home</p> </div> <br> <i class="fas fa-circle"> </i>
  <div class= "elem1"> <a href="#CV"> CV </a> <br><p>CV</p> </div>  <i class="fas fa-circle"></i>
  <div class= "elem1"> <a href="#Services"> Services </a> <br><p> Services </p> </div> <i class="fas fa-circle"></i>
  <div class= "elem1"> <a href="#Portfolio"> Projets</a> <br><p> Projets </p> </div> <i class="fas fa-circle"></i>
  <div class= "elem1"> <a href="#Contact"> Contact</a> <br><p> Contact </p> </div>
</div>

 <div class="main-nav hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#Home"> Home</a></li>
        <li><a href="#CV"> CV </a></li>
        <li><a href="#Services"> Services </a></li>
        <li><a href="#Portfolio"> Projets</a></li>
      </ul>
    </div>
  </div>
</div>
