<div class="main-nav ">
  <div class= "elem1"> <a href="../chalet"> LE CHALET</a> <br> <p> LE CHALET</p> </div>  <i class="fas fa-circle"> </i> 
  <div class= "elem2"> <a href="../histoire"> L'HISTOIRE </a> <br><p> L'HISTOIRE </p> </div>  <i class="fas fa-circle"></i>
  <div class= "elem3"> <a href="../alentours"> AUX ALENTOURS </a> <br><p> AUX ALENTOURS </p> </div>  
</div>  