


<div class="background">

<ul class="menu list-inline">
  <li><a href="#">VUE</a> <i class="fas fa-circle"> </i>  </li> 
  <li><a href="#">SALON</a> <i class="fas fa-circle"> </i>  </li> 
  <li><a href="#">CUISINE</a> <i class="fas fa-circle"> </i>  </li> 
  <li><a href="#">CHAMBRE</a> <i class="fas fa-circle"> </i>  </li> 
  <li><a href="#">EXTERIEUR</a></li> 
  <li class="bg"></li>
</ul>

</div>