
<div class ="banner" style="background-image: url('<%= image_path 'IMG_20150131_095046.jpg' %>')">
</div>





<div class= "main-square">
  <div class= "picture" style="background-image: url('<%= image_path 'IMG_2014.JPG' %>')">
</div>
  
  <div class= "text">
    <p> Avec sa grande baie vitrée vue sur la vallée, son orientation plein sud, vous profitez chaque matin du soleil qui rentre</p>
  </div>


</div>


  <br> 
  <br> 
  <br> 


  <div class= "main-square">
     <div class= "text2">
  </div>
  <div class= "picture2" style="background-image: url('<%= image_path 'IMG_1872.JPG' %>')">
</div>
  
 
</div>


