


<div class="background">

<ul class="menu list-inline">
  <li><a href="#">Vue</a> </li> 
  <li><a href="#">Salon</a> </li> 
  <li><a href="#">Cuisine</a> </li> 
  <li><a href="#">Chambre</a> </li>
  <li><a href="#">Extérieur</a></li>
  <li class="bg"></li>
</ul>

</div>