
<div class ="home-banner" style="background-image: url('<%= image_path 'pierre-herman-431589-unsplash.jpg' %>')">

  <div class="main-nav">
   
    <div class= "elem1"> <a href="../show.html.erb"> LE CHALET</a> <br> <p> LE CHALET</p> </div>  <i class="fas fa-circle"> </i> 
    <div class= "elem2"> <a href="">AUX ALENTOURS</a> <br><p> AUX ALENTOURS </p> </div>  <i class="fas fa-circle"></i>
    <div class= "elem3"> <a href=""> Y ALLER</a> <br> <p>Y ALLER</p> </div>
   
  </div>  
</div>