
<div class ="home-banner" style="background-image: url('<%= image_path 'pierre-herman-431589-unsplash.jpg' %>')">
  <div class="main-nav">
      <a href="" >LE CHALET</a>
      <a href="">AUX ALENTOURS </a>
      <a href="" >Y ALLER</a>
  </div>  
</div>