
<div class ="home-banner" style="background-image: url('<%= image_path 'pierre-herman-431589-unsplash.jpg' %>')">

  
</div>



<div class ="home-banner" style="background-image: url('<%= image_path 'pierre-herman-431589-unsplash.jpg' %>')">

  
</div>

