<h3 class="form-title text-center"> CRÉER UN COMPTE CLIENT </h3>
<br>
<br>


<div class="form-container">

  <form>

    <div class="form-row">

      <div class="col-xs-12 col-md-6 col-sm-6">
        <h5 class="form-subtitle"> INFORMATIONS PERSONNELLES </h5>
        <br>
        <br>

        <div class="col">
          <label> Name </label>
          <input type="text" class="form-control spe-form" placeholder="_____________________________________________">
        </div>

        <div class="col">
          <label> Email </label>
          <input type="text" class="form-control spe-form" placeholder="_____________________________________________">
        </div>

          <label>Date de naissance </label>
        <input type="date" name="bday">
        <br>

          <label>Sexe </label>
        <br>
        <form>
            <input type="radio" name="gender" value="male" checked> Male
            <input type="radio" name="gender" value="female"> Female
            <input type="radio" name="gender" value="other"> Other
        </form>




      </div>

        <div class="col-xs-12 col-md-6 col-sm-6">
          <h5 class="form-subtitle"> INFORMATIONS DE CONNEXION </h5>
          <br>
<br>

          <div class="col">
            <label> Email </label>
            <input type="text" class="form-control spe-form" placeholder="_____________________________________________">
          </div>

          <div class="col">
            <label> Mot de passe </label>
            <input type="text" class="form-control spe-form" placeholder="_____________________________________________">
          </div>
<br>
          <div class="col">
            <label> Confirmer le mot de passe </label>
            <input type="text" class="form-control spe-form" placeholder="_____________________________________________">
          </div>
          <br>

        </div>

     </div>



 <div class="form-row text-center">
 <br>
      <div class="form-check ">
          <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
          <label class="form-check-label" for="autoSizingCheck2">
            Abonnez-vous à la newsletter
          </label>
          <br>
          <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
           <label class="form-check-label" for="autoSizingCheck2">
            Se souvenir de moi
          </label>
        </div>
</div>
<div class="form-row text-center">
        <div class="col">
        <button type="submit" class="btn-creer ">CRÉER UN COMPTE</button>
        <p> Vous avez déjà un compte?  <strong> Se connecter </strong> </p>
        </div>
    </div>
  </form>

 </div>
