a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.headlines{
  padding-top: 200px;
  font-family: Roboto;

}

.tagline{
color: white;
font-weight: 900;
font-size: 40px;
}


.tagline2{
color: white;
font-weight: 900;
font-size: 40px;
}

.punchline{
  color: #54A9BF;
  font-weight: 100;
  font-size: 50px;
}


.point{
  color: #54A9BF;
}


.text{
  margin-top: 30px;
}


h4{
  font-weight: 900 !important;
  font-family: Roboto !important;
  font-size: 22px !important;
  opacity: 0.8 !important;
  margin-top: 20px !important;
}

.banner {
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover;
    margin: -10px;
}


.flex-box{
  display: flex;
  justify-content: space-around;
}

.mypic{
  height: 350px;
  background-size: cover;
flex: 0 0 30%;
margin-top: 50px;
}

.mypic2{
  flex: 0 0 50%;
height: 500px;
background-size: cover;
margin-top: 50px;
box-shadow: 2px 2px 15px rgba(231, 227, 227, 0.25);
}

.pic{
  height: 270px;
  width: 320px;
  margin: 20px;
  background-size: cover;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  font-weight: 900;
}

.titleall{
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  margin-top: 70px;
  font-weight: 900;
}


.presentation {
 margin-top: 50px;
  margin-left: 50px;
}

p {
  font-family: Roboto;
  font-size: 16px;
  color: #636363;
  font-weight: 300;
}

.maj{
  color: #8E8E8E;
  font-size: 16px;
  margin-top: -8px;
}

.contact i {
  color: #54A9BF;
  font-size: 20px;
  padding: 10px;
  &:hover{
    color: #2A6977;
    font-size: 21px;
  }
}

.fas .fa-circle{
  color: #54A9BF;
}


i {
  color: #54A9BF;
  font-size: 30px;
}

.fab .fa-facebook-f{
  color: #54A9BF;
  font-size: 30px;
}


