a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}






.banner {
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
margin: -10px;
}


.mypic{
height: 400px;
width: 300px;
background-size: cover;
flex: 0 0 30%;
margin-top: 50px;
margin-right: 30px;
}

.pic{
  height: 270px;
  width: 320px;
  margin: 20px;
  background-size: cover;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  font-weight: 900;
}

.titleall{
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  margin-top: 70px;
  font-weight: 900;
}


.presentation {
 margin-top: 50px;
  margin-left: 50px;
}

p {
  font-family: Roboto;
  font-size: 21px;
  color: #474747;
  font-weight: 200;
}

.contact i {
  color: #54A9BF;
  font-size: 30px;
  padding: 15px;
  &:hover{
    color: #2A6977;
    font-size: 33px;
  }
}

.fas .fa-circle{
  color: #54A9BF;
}


i {
  color: #54A9BF;
  font-size: 30px;
  padding: 15px;
}

.fab .fa-facebook-f{
  color: #54A9BF;
  font-size: 30px;
}


