.mybtn{
color: white;
font-weight: 100;
font-size: 15px;
background-color: #54A9BF;
padding: 10px 15px;
text-decoration: none;
font-family: Roboto;
border-radius: 5px;
&:hover{
  background-color: #2A6977;
  color: white;
  text-decoration: none;
}
}



.link{
  color: #54A9BF;
  font-weight: 500;
  font-size: 20px;
  &:hover{
    font-size: 22px;
    text-decoration: none;
  }
}


.iconf i{
  color: grey;
  padding: 15px 5px;
  font-size: 20px;
  &:hover{
    color: darkgrey;
    font-size: 25px;
  }
}



.footerp{
  font-family: Open sans;
  font-size: 15px;
  font-weight: 400;
  color: grey;
}
