.btn{
color: white;
font-weight: 100;
background-color: #54A9BF;
padding: 5px 15px;
text-decoration: none;
font-family: Open Sans;
&:hover{
  background-color: #2A6977;
  font-weight: 900;
  color: white;

}
}

.btn a{
  color: white;
  &:hover{
    color: white;
  }
}

.link{
  color: #54A9BF;
  font-weight: 500;
  font-size: 20px;
  &:hover{
    font-size: 22px;
    text-decoration: none;
  }
}
