.grey-container{
  background-color: #F9F9F9;
  padding: 20px 100px;

}

.box{
  display: flex;
  justify-content: space-around;
  margin: 170px;
  margin-top: 170px;
}

.row{
  margin-bottom: 100px;
}


