.grey-container{
  background-color: #F9F9F9;
  padding: 20px 30px;

}


.row{
  margin-bottom: 100px;
}


.card{
  margin: 20px;
}


.invisible {
  transition: opacity 0.5s ease;
  opacity: 0.0;
}

.visible {
  transition: opacity 0.5s ease;
  opacity: 1.0;
}

.fix{
  margin-top: 50px;
}



