/* Main navbar */



.main-nav {
    right: 70px;
    top: 80px;
    position: fixed;
    z-index: 150;
    background: transparent;
    display: flex;
    align-item: center;
    justify-content: space-between;
}

.main-nav i{
  font-size: 7px;
  color: white;
  opacity: 0.5;
  padding-top: 33px;
}


.main-nav a{
  text-decoration: none;
  padding: 0px 20px;
    color: #4E8098;
    font-size: 15px;
    letter-spacing: .43px;
    display: none;
}


.main-nav p{
  padding: 0px 20px;
    color: white;
    font-size: 15px;
    letter-spacing: .43px;
    margin-bottom: -20px;
}

.elem1:hover {
transition: all .3s ease;
 padding-top: 25px;
 >p{ 
  display: none;
 }
 >a{ 
  display: block}
}

.elem2:hover {
transition: all .3s ease;
 padding-top: 25px;
 >p{ 
  display: none;
 }
 >a{ 
  display: block}
}

.elem3:hover {
  transition: all .3s ease;
 padding-top: 25px;
 >p{ 
  display: none;
 }
 >a{ 
  display: block}
}
