
.main-nav {
    right: 70px;
    top: 30px;
    position: fixed;
    z-index: 150;
    background: transparent;
    display: flex;
    align-item: center;
    justify-content: space-between;
    font-family: Roboto;

}

.main-nav-white {
   right: 70px;
    position: fixed;
    z-index: 150;
    display: flex;
    align-item: center;
    background: white;
    justify-content: space-between;
    box-shadow: 3px 3px 8px lightgrey;
    padding: 5px 30px;
    color: #639FAB;
    font-family: Roboto;
    font-weight: 300;
}

.main-nav i{
  font-size: 5px;
  padding: 7px;
  color: #54A9BF;
  opacity: 0.5;
  padding-top: 37px;
}


.main-nav-white i{
  font-size: 5px;
  padding: 7px;
  color: #54A9BF;
  opacity: 0.5;
  padding-top: 37px;
}

.main-nav a{
  text-decoration: none;
  padding: 0px 20px;
    color: #54A9BF;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: .43px;
    display: none;
    font-family: Roboto;
     font-weight: 300;
    &:hover{
      text-decoration: none;
    }
}

.main-nav-white a{
   font-weight: 300;
  font-family: Roboto;
  text-decoration: none;
  padding: 10px 20px;
    color: #54A9BF;
    font-size: 17px;
    letter-spacing: .43px;
    display: none;
}

.main-nav p{
   font-weight: 300;
  font-family: Roboto;
  padding: 10px 20px;
    color: white;
    font-size: 17px;
    letter-spacing: .43px;
    margin-bottom: -20px;
}

.main-nav-white p{
   font-weight: 300;
  font-family: Roboto;
    color: #639FAB;
    font-size: 17px;
    letter-spacing: .43px;
     &:hover{
      text-decoration: none;
    }
}

.elem1:hover {
transition: all .3s ease;
 margin-top: 20px;
 text-decoration: none;
 >p{
  display: none;
 }
 >a{
  display: block}
}

