.square{
  background: white;
  box-shadow: 3px 3px 8px lightgrey;
  height: 250px;
  margin: 10px;
  padding: 50px 10px;
}


.squarew{
  flex: 0 0 20%;

  margin: 10px;
  padding: 40px;
  padding-bottom: 40px;
}

.square p{
  font-size: 15px;
  padding: 0px 20px;
}


.square i {
  font-size: 35px;
}


.photo:hover{
  box-shadow: 3px 3px 8px lightgrey;
}

.icon i{
  margin-left: 20px;
  margin-bottom: -10px;
  &:hover{
    color:#2A6977;
  }
}
