.square{
  background: white;
  box-shadow: 3px 3px 8px lightgrey;
  height: 300px;
  width: 350px;
  margin: 10px;
  padding: 10px;
}


.square p{
  font-size: 15px;
  padding: 0px 20px;
}


.squareg{
  background: white;
  height: 300px;
  width: 350px;
  margin: 20px;
  padding: 10px;
}
