.main-square{
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}


.picture {
  height: 400px;
  width: 500px;
  background-size: cover;
  margin-left:-300px;
}

.picture2 {
  height: 400px;
  width: 500px;
  background-size: cover;
}




.foo {
  min-height: 33vh;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}


.foo-2 {
  background-color: blue;
}

.text{
  background : #C4F5FC; 
  padding: 20px;
  height : 400px; 
  width : 300px;
  margin-left: -1000px;
  margin-top: 80px;

  &:hover{
    background: #C4F5FC; 
  }
}


.text2{
    background: #C4F5FC; 
  height : 400px; 
  width : 300px;
  margin-top: 30px;
  margin-right: -700px;

  &:hover{
    background: #C4F5FC; 
  }
}

#object {
    position: fixed;
    left: 0;
    bottom: 5%;
    height: 30px;
    width: 30px;
    border-radius:5px;
    background: #d3d3d3;
}

body {
    height: 3000px;
    background: grey;
}

